doctype html
html
    head
        link(rel='stylesheet' href='css/style.css' type='text/css')
        link(rel='icon' href='img/favicon.png' type='image/png')
        title Sahara Tours | #{tour}
    body
        h1 You've come to the right place
        h2 Welcome to the #{tour}
        -const x = 4;
        h2= 2 * x
        // This is just a normal comment
        //- This commment will not appear in the code
                    //-     a.nav__el(href='#')
            //-     a.nav__el(href='#')
            //-         img.nav__user-img(src='img/user.jpg' alt='User photo')
            //-         span Oussama 